= javascript_include_tag 'cookbook/application'
- if Cookbook.configuration.include_cookbook_css == true
  = stylesheet_link_tag 'cookbook/application'
- usables.each do |usable|
  %fieldset.used_in{class: usable.plural_class}
    %legend
      %h3= usable.title
    %div{id: usable.plural_class}
      = form.fields_for usable.uses_sym do |g|
        = render 'cookbook/use_fields', f: g, usable: usable
    = cookbook_link_to_add_fields "Add #{usable.singular_title}", form, usable.uses_sym, 'cookbook/use_fields'