-# frozen_string_literal: true
= simple_form_for(@recipe, url: (@recipe.new_record? ? recipes_path : recipe_path(@recipe.id))) do |f|
  = f.input :name
  = f.input :description
  = f.input :serves
  = f.input :meal
  = f.input :instructions
  = cookbook_fields f
  .actions= f.button :submit, class: 'button-large button-action'
