-# frozen_string_literal: true
= simple_form_for(@ingredient, url: (@ingredient.new_record? ? ingredients_path : ingredient_path(@ingredient.id))) do |f|
  = f.input :name
  = f.input :description
  = f.input :aisle
  = f.input :store
  = f.input :cost
  .actions= f.button :submit, class: 'button-large button-action'
