-# frozen_string_literal: true
= simple_form_for(@tool, url: (@tool.new_record? ? tools_path : tool_path(@tool.id))) do |f|
  = f.input :name
  = f.input :description
  = f.input :composition
  .actions= f.button :submit, class: 'button-large button-action'
