%p#notice= notice

%p
  %b Name:
  = @tool.name
%p
  %b Slug:
  = @tool.slug
%p
  %b Description:
  = @tool.description
%p
  %b Composition:
  = @tool.composition

  = cookbook_uses_of @tool

= link_to 'Edit', edit_tool_path(@tool)
\|
= link_to 'Back', tools_path
