-# frozen_string_literal: true
= simple_form_for(@how_to, url: (@how_to.new_record? ? how_tos_path : how_to_path(@how_to.id))) do |f|
  = f.input :name
  = f.input :description
  = f.input :instructions
  = cookbook_fields f
  .actions= f.button :submit, class: 'button-large button-action'
