%h1 Listing how_tos

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Description
      %th Instructions
      %th
      %th
      %th

  %tbody
    - @how_tos.each do |how_to|
      %tr
        %td= how_to.name
        %td= how_to.slug
        %td= how_to.description
        %td= how_to.instructions
        %td= link_to 'Show', how_to
        %td= link_to 'Edit', edit_how_to_path(how_to)
        %td= link_to 'Destroy', how_to, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New How to', new_how_to_path
