%p#notice= notice

%p
  %b Use in:
  = @use.use_in
%p
  %b Use of:
  = @use.use_of
%p
  %b Quantity minimum:
  = @use.quantity_minimum
%p
  %b Quantity maximum:
  = @use.quantity_maximum
%p
  %b Unit:
  = @use.unit
%p
  %b Sort:
  = @use.sort
%p
  %b Note:
  = @use.note
%p
  %b Preparation:
  = @use.preparation

= link_to 'Edit', edit_use_path(@use)
\|
= link_to 'Back', uses_path
