-# frozen_string_literal: true
= simple_form_for(@supply, url: (@supply.new_record? ? supplys_path : supply_path(@supply.id))) do |f|
  = f.input :name
  = f.input :description
  = f.input :source
  .actions= f.button :submit, class: 'button-large button-action'
