%p#notice= notice

%p
  %b Name:
  = @supply.name
%p
  %b Slug:
  = @supply.slug
%p
  %b Description:
  = @supply.description
%p
  %b Source:
  = @supply.source

  = cookbook_uses_of @supply

= link_to 'Edit', edit_supply_path(@supply)
\|
= link_to 'Back', supplies_path
